@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/filter";

$corner-radius: 3px;
$gray-color: #b1b4b9;
$gray-black-color: #5a5f6f;
$border-color: #ddd;
$dark-color: #4e5367;

body {
  font-family: sans-serif;
  font-size: 62.5%;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
}

.container {
  width: 100%;
  header {
    background-size: 1000px 840px;
    background: url("../images/01.jpg") no-repeat;
    height: 920px;
    margin: 0px auto 0px auto;
  }
  header {
    .navigator {
      display: block;
      float: right;
      margin-top: 30px;
      margin-right: 180px;
      font-size: 1.5em;
      li {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        color: white;
      }
      li:last-child {
        border: 1px white solid;
        @include border-radius($corner-radius);
      }
    }
  }
  .search {
    display: inline-block;
    margin-top: 300px;
    margin-right: auto;
    width: 100%;
    text-align: center;
    h1 {
      color: white;
    }
    h3 {
      margin-top: 10px;
      color: $gray-color;
    }

    form {
      input {
        @include input-placeholder {
          color: white;
        }
        @include border-corner-radius(top, left, $corner-radius);
        @include border-corner-radius(bottom, left, $corner-radius);
        margin-top: 30px;
        background-color: rgba(137, 139, 151, 0.3);
        border: 0px;
        width: 36%;
        padding: 25px 20px;
        font-size: 2em;
      }
      button {
        @include border-corner-radius(top, right, $corner-radius);
        @include border-corner-radius(bottom, right, $corner-radius);
        background-color: rgba(89, 217, 155, 0.9);
        padding: 25px 30px;
        font-size: 2em;
        border: none;
        color: white;
      }
    }
  }

  .form {
    background-color: white;
    width: 75%;
    height: 150px;
    margin: 300px auto 0px auto;
    box-sizing: border-box;
    li {
      box-sizing: border-box;
      float: left;
      width: 25%;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      border: 1px $border-color solid;
      p {
        font-size: 1.5em;
        margin-top: 18px;
        color: $gray-color;
      }
    }
  }

  .how-it-works {
    margin-top: 140px;
    text-align: center;
    border-bottom: 1px $border-color solid;
    .title {
      color: $gray-black-color;
      position: relative;
    }
    .title::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 50%;
      width: 46px;
      height: 3px;
      background-color: rgba(39, 39, 43, 0.1);
      margin: 0 0 0 -23px;
    }
    ul {
      display: -webkit-box;
      li {
        width: 33.33%;
        float: left;
        margin-top: 60px;
        position: relative;
        .number {
          border: 2px $border-color solid;
          height: 60px;
          width: 60px;
          margin: auto;
          text-align: center;
          line-height: 60px;
          @include border-radius(100%);
          color: $gray-color;
          background-color: white;
        }
        .number::before {
          content: '';
          position: absolute;
          top: 30px;
          right: 50%;
          width: 100%;
          height: 2px;
          background: $border-color;
          z-index: -1;
        }
        .first::before {
          display: none;
        }
        .description {
          margin-top: 30px;
          i {
            margin-bottom: 30px;
          }
          .fa-github-alt {
            color: #e69949;
          }
          .fa-eraser {
            color: #9c89c9;
          }
          .fa-users {
            color: #4085bf;
          }
          h2 {
            color: $gray-black-color;
          }
          :last-child {
            font-size: 1.5em;
            line-height: 20px;
            margin: 10px auto 120px auto;
            color: $gray-color;
            width: 250px;
          }
        }
      }
    }
  }
  .why-choose-us {
    margin-top: 90px;
    border-bottom: 1px $border-color solid;
    overflow: hidden;
    .title {
      text-align: center;
      color: $gray-black-color;
      position: relative;
    }
    .title::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 50%;
      width: 46px;
      height: 3px;
      background-color: rgba(39, 39, 43, 0.1);
      margin: 0 0 0 -23px;
    }
    ul {
      margin: 80px 5% 140px 5%;
      li{
        position: relative;
        width: 50%;
        float: left;
        height: 190px;
        i{
          position: absolute;
          margin-left: 10%;
        }
        div{
          text-align: left;
          margin:0  10% 0 20%;
          color: $gray-black-color;
          p{
            margin-top: 20px;
            line-height: 20px;
            color: $gray-color;
            font-size: 1.5em;
          }
        }
      }
    }

    .fa-check {
      color: #57b381;
    }
    .fa-refresh {
      color: #e69949;
    }
    .fa-file-text {
      color: #ec546b;
    }
    .fa-tag {
      color: #15a4e4;
    }
    .fa-user {
      color: #9e62b7;
    }
    .fa-thumbs-up {
      color: #e66949;
    }
  }

  .about-us {
    text-align: center;
    border-bottom: 1px $border-color solid;
    img {
      width: 120px;
      height: 120px;
      @include border-radius(100%);
      padding: 5px;
      border: 1px $border-color solid;
    }
    .title {
      margin: 100px auto 0 auto;
      width: 410px;
      overflow: hidden;
      position: relative;
      h2 {
        width: 200px;
        float: left;
        height: 60px;
        text-align: center;
        line-height: 60px;
      }
      h2:first-child {
        background-color: $dark-color;
        border: 1px $dark-color solid;
        color: white;
      }
      h2:last-child {
        color: $dark-color;
        border: 1px $dark-color solid;
      }
    }
    .description {
      width: 100%;
      margin-top: 40px;
      .fa-quote-left {
        margin-bottom: 30px;
        color: rgba(219, 219, 219, 0.5);
      }
      p {
        color: $dark-color;
        font-size: 1.5em;
        margin-bottom: 50px;
        position: relative;
        padding: 0 20%;
        line-height: 20px;
      }
      p::after {
        content: "";
        position: absolute;
        top: 45px;
        left: 50%;
        width: 42px;
        height: 2px;
        background-color: rgba(39, 39, 43, 0.1);
        margin: 0 0 0 -23px;
      }
      .name {
        color: $dark-color;
      }
      .intro {
        margin: 10px auto 40px auto;
        color: $gray-color;
      }
    }
    .image {
      margin: 0px 0 120px 0;
      img {
        margin: auto 25px;
      }
      img:first-child, img:last-child {
        @include filter(grayscale(100%));
      }
    }
  }
  .find-an-agent {
    padding: 110px 0;
    overflow: hidden;
    background: url("../images/08.jpg");
    text-align: center;
    span {
      font-size: 2em;
      margin-right: 30px;
      color: white;
    }
    input {
      @include input-placeholder {
        padding-left: 15px;
        color: $gray-color;
      }
      @include border-corner-radius(top, left, $corner-radius);
      @include border-corner-radius(bottom, left, $corner-radius);
      background-color: white;
      width: 50%;
      height: 60px;
      font-size: 1.5em;
      border: none;
      padding: 0px;
    }
    button {
      @include border-corner-radius(top, right, $corner-radius);
      @include border-corner-radius(bottom, right, $corner-radius);
      background-color: rgba(89, 217, 155, 0.9);
      font-size: 1.5em;
      color: white;
      height: 60px;
      border: none;
      padding: 0px 35px;
    }
  }
  footer {
    height: 75px;
    ul {
      display: block;
      float: left;
      li {
        font-size: 1.5em;
        display: inline-block;
        margin-right: 25px;
        color: $gray-color;
      }
    }
    ul:first-child{
      margin: 30px 0px 30px 170px;
    }
    ul:last-child {
      float: right;
      margin: 30px 170px 30px 0px;
    }
    i {
      float: right;
      margin-right: 20px;
    }
    .fa-twitter {
      color: #3a7aaf;
    }
    .fa-facebook {
      color: #3d5ea8;
    }
  }
}