@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/filter";

$corner-radius: 3px;
$gray-color: #b1b4b9;
$gray-black-color: #5a5f6f;
$border-color: #ddd;
$dark-color: #4e5367;

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  header {
    background-size: 1000px 840px;
    background: url("../images/01.jpg") no-repeat;
    height: 920px;
    margin: 0px auto 0px auto;
  }
  header {
    ul {
      display: block;
      float: right;
      margin-top: 30px;
      margin-right: 180px;
      li {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        color: white;
      }
      li.active {
        border: 1px white solid;
        @include border-radius($corner-radius);
      }
    }
  }
  .titleContainer {
    display: inline-block;
    margin-top: 300px;
    margin-right: auto;
    width: 100%;
    text-align: center;
    h1{
      color: white;
      font-size: 2em;
    }

    h3{
      margin-top: 10px;
      color: $gray-color;
      font-size: 1.17em;
    }

    .search{
      input{
        @include input-placeholder{
          color: white;
        }
        @include border-corner-radius(top,left, $corner-radius);
        @include border-corner-radius(bottom,left, $corner-radius);
        margin-top: 30px;
        background-color: rgba(137, 139, 151, 0.3);
        border: 0px;
        width: 500px;
        padding: 25px 20px;
        font-size: 1.17em;
      }
      button{
        @include border-corner-radius(top,right,$corner-radius);
        @include border-corner-radius(bottom,right,$corner-radius);
        background-color: rgba(89, 217, 155, 0.9);
        padding: 25px 30px;
        font-size: 1.17em;
        border: none;
        color: white;
      }
    }
  }

  .totals{
    background-color: white;
    border: 1px $border-color solid;
    border-right: none;
    width: 1060px;
    height: 150px;
    margin:300px auto 0px auto;
    div{
      float: left;
      width: 264px;
      border-right: 1px $border-color solid;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      p:first-child{
        font-size: 2.0em;
      }
      p:last-child{
        margin-top: 18px;
        color: $gray-color;
      }
    }
  }

  .first{
    margin-top: 140px;
    text-align: center;
    border-bottom: 1px $border-color solid;
    .sectionTitle{
      color: $gray-black-color;
      position: relative;
    }
    .sectionTitle::after{
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;
      width: 46px;
      height: 3px;
      background-color: rgba(39, 39, 43, 0.1);
      margin: 0 0 0 -23px;
    }
    .workProcess{
      display: -webkit-box;
      .item{
        width: 33.33%;
        float: left;
        margin-top: 60px;
        position: relative;
        p{
          border:2px $border-color solid;
          height: 60px;
          width: 60px;
          margin: auto;
          text-align: center;
          line-height: 60px;
          @include border-radius(100%);
          color: $gray-color;
        }
        p::before{
          content: '';
          position: absolute;
          top: 30px;
          right: 55%;
          width: 90%;
          height: 2px;
          background: $border-color;
          z-index: -1;
        }
        p.first::before{
          display: none;
        }

        .description{
          margin-top: 30px;
          i{
            margin-bottom: 30px;
          }
          .fa-github-alt{
            color: #e69949;
          }
          .fa-eraser{
            color: #9c89c9;
          }
          .fa-users{
            color: #4085bf;
          }
          .descSummary{
            color: $gray-black-color;
            font-size: 1.5em;
          }
          :last-child{
            margin: 10px auto 120px auto;
            color: $gray-color;
            width:  300px;
          }
        }
      }
    }
  }
  .second{
    margin-top: 90px;
    text-align: center;
    border-bottom: 1px $border-color solid;
    .sectionTitle{
      color: $gray-black-color;
      position: relative;
    }
    .sectionTitle::after{
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;
      width: 46px;
      height: 3px;
      background-color: rgba(39, 39, 43, 0.1);
      margin: 0 0 0 -23px;
    }
    .workProcess{
      display: -webkit-box;
      margin-top: 80px;
      .left, .right{
        padding-left: 5%;
        width: 50%;
        .icon{
          width: 30px;
          float: left;
          margin-right: 50px;
          div{
            margin-bottom: 120px;
          }
          .fa-check{
            color: #57b381;
          }
          .fa-refresh{
            color: #e69949;
          }
          .fa-file-text{
            color: #ec546b;
          }
          .fa-tag{
            color: #15a4e4;
          }
          .fa-user{
            color: #9e62b7;
          }
          .fa-thumbs-up{
            color: #e66949 ;
          }
        };
        .reason {
          width: 65%;
          .item {
            height: 150px;
            text-align: left;
            .title {
              font-size: 1.5em;
              color: $gray-black-color;
              margin-bottom: 15px;
            }
            .description {
              color: $gray-color;
            }
          }
        }
      }
    }
  }
  .third{
    text-align: center;
    border-bottom: 1px $border-color solid;
    img{
      width: 120px;
      height: 120px;
      @include border-radius(100%);
      padding: 5px;
      border: 1px $border-color solid;
    }
    .title{
      margin: 100px auto 0 auto ;
      width: 410px;
      overflow: hidden;
      position: relative;
      div{
        width: 200px;
        float: left;
        height: 60px;
        text-align: center;
        line-height: 60px;
      }
      div:first-child{
        background-color: $dark-color;
        border: 1px $dark-color solid;
        color: white;
      }
      div:last-child{
        color: $dark-color;
        border: 1px $dark-color solid;
      }
    }
    .description{
      width: 100%;
      margin-top: 40px;
      .fa-quote-left{
        margin-bottom: 30px;
        color: rgba(219, 219, 219, 0.5);
      }
      .message{
        color: $dark-color;
        font-size: 1.3em;
        margin-bottom: 50px;
        position: relative;
        padding: 0 20%;
      }
      .message::after{
        content: "";
        position: absolute;
        top: 50px;
        left: 50%;
        width: 42px;
        height: 2px;
        background-color: rgba(39, 39, 43, 0.1);
        margin: 0 0 0 -23px;
      }
      .name{
        color: $dark-color;
      }
      .intro{
        margin: 10px auto 40px auto;
        color: $gray-color;
      }
    }
    .image {
      margin-bottom: 120px;
      img {
        margin:auto 25px;
      }
      img:first-child, img:last-child{
        @include filter(grayscale(100%));
      }
    }
  }
  .fourth{
    padding: 110px 0;
    overflow: hidden;
    background: url("../images/sunset-resized.jpg");
    text-align: center;
    span{
      font-size: 2em;
      margin-right: 30px;
      color: white;
    }
    input{
      @include input-placeholder{
        padding-left: 15px;
        color: $gray-color;
      }
      @include border-corner-radius(top,left, $corner-radius);
      @include border-corner-radius(bottom,left, $corner-radius);
      background-color: white;
      width: 700px;
      height: 60px;
      font-size: 1.17em;
      border: none;
      padding: 0px;
    }
    button{
      @include border-corner-radius(top,right,$corner-radius);
      @include border-corner-radius(bottom,right,$corner-radius);
      background-color: rgba(89, 217, 155, 0.9);
      font-size: 1.17em;
      color: white;
      height: 60px;
      border: none;
      padding: 0px 35px;
    }
  }
  footer{
    padding: 25px 170px;
    ul{
      display: block;
      float: left;
      li{
        display: inline-block;
        margin-right: 25px;
        color: $gray-color;
      }
    }
    ul:last-child{
      float: right;
    }
    i{
      float: right;
      margin-right: 20px;
    }
    .fa-twitter{
      color: #3a7aaf;
    }
    .fa-facebook{
      color: #3d5ea8;
    }
  }
}