/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 58, ../sass/style.scss */
body {
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: #f1f0ed;
}
/* line 62, ../sass/style.scss */
body h1 {
  font-size: 3.2em;
}
/* line 65, ../sass/style.scss */
body h2 {
  font-size: 2.4em;
}
/* line 68, ../sass/style.scss */
body h3 {
  font-size: 1.8em;
}
/* line 71, ../sass/style.scss */
body .fa-7x {
  font-size: 7em;
}
/* line 74, ../sass/style.scss */
body .fa-s-2x {
  font-size: 1.5em;
}

/* line 79, ../sass/style.scss */
.container {
  width: 100%;
}
/* line 81, ../sass/style.scss */
.container header {
  background: url("../images/01.jpg") no-repeat;
  background-size: cover;
  height: 840px;
  margin: 0px auto 0px auto;
}
/* line 88, ../sass/style.scss */
.container header .navigator {
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 180px;
  font-size: 1.5em;
}
/* line 94, ../sass/style.scss */
.container header .navigator li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  color: white;
}
/* line 99, ../sass/style.scss */
.container header .navigator li:last-child {
  border: 1px white solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 105, ../sass/style.scss */
.container .search {
  display: inline-block;
  margin-top: 240px;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
/* line 111, ../sass/style.scss */
.container .search h1 {
  color: white;
}
/* line 114, ../sass/style.scss */
.container .search h3 {
  margin-top: 10px;
  color: #b1b4b9;
}
/* line 119, ../sass/style.scss */
.container .search form input {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 30px;
  background-color: rgba(137, 139, 151, 0.3);
  border: none;
  padding: 0px;
  width: 36%;
  height: 60px;
  font-size: 1.5em;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input:-moz-placeholder {
  padding-left: 15px;
  color: white;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input::-moz-placeholder {
  padding-left: 15px;
  color: white;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input:-ms-input-placeholder {
  padding-left: 15px;
  color: white;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input::-webkit-input-placeholder {
  padding-left: 15px;
  color: white;
}
/* line 123, ../sass/style.scss */
.container .search form button {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(89, 217, 155, 0.9);
  height: 60px;
  font-size: 1.5em;
  border: none;
  padding: 0 25px;
  color: white;
}
/* line 129, ../sass/style.scss */
.container .box {
  background-color: #f1f0ed;
  width: 75%;
  height: 150px;
  margin: 300px auto 0px auto;
  box-sizing: border-box;
}
/* line 135, ../sass/style.scss */
.container .box li {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: 1px #ddd solid;
}
/* line 143, ../sass/style.scss */
.container .box li p {
  font-size: 1.5em;
  margin-top: 18px;
  color: #b1b4b9;
}
/* line 151, ../sass/style.scss */
.container .how-it-works {
  margin-top: 140px;
  text-align: center;
  border-bottom: 1px #ddd solid;
}
/* line 14, ../sass/style.scss */
.container .how-it-works .title {
  text-align: center;
  color: #5a5f6f;
  position: relative;
}
/* line 19, ../sass/style.scss */
.container .how-it-works .title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  width: 46px;
  height: 3px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 156, ../sass/style.scss */
.container .how-it-works ul {
  display: -webkit-box;
}
/* line 158, ../sass/style.scss */
.container .how-it-works ul li {
  width: 33.33%;
  float: left;
  margin-top: 60px;
  position: relative;
}
/* line 163, ../sass/style.scss */
.container .how-it-works ul li .number {
  border: 2px #ddd solid;
  height: 60px;
  width: 60px;
  margin: auto;
  text-align: center;
  line-height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #b1b4b9;
  background-color: #f1f0ed;
}
/* line 174, ../sass/style.scss */
.container .how-it-works ul li .number::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 50%;
  width: 100%;
  height: 2px;
  background: #ddd;
  z-index: -1;
}
/* line 184, ../sass/style.scss */
.container .how-it-works ul li .first::before {
  display: none;
}
/* line 187, ../sass/style.scss */
.container .how-it-works ul li .description {
  margin-top: 30px;
}
/* line 189, ../sass/style.scss */
.container .how-it-works ul li .description i {
  margin-bottom: 30px;
}
/* line 192, ../sass/style.scss */
.container .how-it-works ul li .description .fa-list-alt {
  color: #e69949;
}
/* line 195, ../sass/style.scss */
.container .how-it-works ul li .description .fa-pencil {
  color: #9c89c9;
}
/* line 198, ../sass/style.scss */
.container .how-it-works ul li .description .fa-users {
  color: #4085bf;
}
/* line 201, ../sass/style.scss */
.container .how-it-works ul li .description h2 {
  color: #5a5f6f;
}
/* line 204, ../sass/style.scss */
.container .how-it-works ul li .description :last-child {
  font-size: 1.5em;
  line-height: 20px;
  margin: 10px auto 120px auto;
  color: #b1b4b9;
  width: 250px;
}
/* line 215, ../sass/style.scss */
.container .why-choose-us {
  margin-top: 90px;
  border-bottom: 1px #ddd solid;
  overflow: hidden;
}
/* line 14, ../sass/style.scss */
.container .why-choose-us .title {
  text-align: center;
  color: #5a5f6f;
  position: relative;
}
/* line 19, ../sass/style.scss */
.container .why-choose-us .title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  width: 46px;
  height: 3px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 220, ../sass/style.scss */
.container .why-choose-us ul {
  margin: 80px 5% 140px 5%;
}
/* line 222, ../sass/style.scss */
.container .why-choose-us ul li {
  position: relative;
  width: 50%;
  float: left;
  height: 190px;
}
/* line 227, ../sass/style.scss */
.container .why-choose-us ul li i {
  position: absolute;
  margin-left: 10%;
}
/* line 231, ../sass/style.scss */
.container .why-choose-us ul li div {
  text-align: left;
  margin: 0  10% 0 20%;
  color: #5a5f6f;
}
/* line 235, ../sass/style.scss */
.container .why-choose-us ul li div p {
  margin-top: 20px;
  line-height: 20px;
  color: #b1b4b9;
  font-size: 1.5em;
}
/* line 245, ../sass/style.scss */
.container .why-choose-us .fa-check {
  color: #57b381;
}
/* line 248, ../sass/style.scss */
.container .why-choose-us .fa-refresh {
  color: #e69949;
}
/* line 251, ../sass/style.scss */
.container .why-choose-us .fa-file-text {
  color: #ec546b;
}
/* line 254, ../sass/style.scss */
.container .why-choose-us .fa-tag {
  color: #15a4e4;
}
/* line 257, ../sass/style.scss */
.container .why-choose-us .fa-user {
  color: #9e62b7;
}
/* line 260, ../sass/style.scss */
.container .why-choose-us .fa-thumbs-up {
  color: #e66949;
}
/* line 265, ../sass/style.scss */
.container .about-us {
  text-align: center;
  border-bottom: 1px #ddd solid;
}
/* line 268, ../sass/style.scss */
.container .about-us .title {
  margin: 100px auto 0 auto;
  width: 410px;
  overflow: hidden;
  position: relative;
}
/* line 273, ../sass/style.scss */
.container .about-us .title h3 {
  width: 200px;
  float: left;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
/* line 280, ../sass/style.scss */
.container .about-us .title h3:first-child {
  background-color: #4e5367;
  border: 1px #4e5367 solid;
  color: white;
}
/* line 285, ../sass/style.scss */
.container .about-us .title h3:last-child {
  color: #4e5367;
  border: 1px #4e5367 solid;
}
/* line 290, ../sass/style.scss */
.container .about-us .description {
  width: 100%;
  margin-top: 40px;
}
/* line 293, ../sass/style.scss */
.container .about-us .description .fa-quote-left {
  margin-bottom: 30px;
  color: rgba(219, 219, 219, 0.5);
}
/* line 14, ../sass/style.scss */
.container .about-us .description p {
  text-align: center;
  color: #5a5f6f;
  position: relative;
}
/* line 19, ../sass/style.scss */
.container .about-us .description p::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  width: 46px;
  height: 3px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 298, ../sass/style.scss */
.container .about-us .description p {
  color: #4e5367;
  font-size: 1.5em;
  margin-bottom: 50px;
  padding: 0 20%;
  line-height: 20px;
}
/* line 305, ../sass/style.scss */
.container .about-us .description p::after {
  top: 45px;
}
/* line 308, ../sass/style.scss */
.container .about-us .description .name {
  color: #4e5367;
}
/* line 311, ../sass/style.scss */
.container .about-us .description .intro {
  margin: 10px auto 40px auto;
  color: #b1b4b9;
}
/* line 316, ../sass/style.scss */
.container .about-us .image {
  margin: 0px auto 120px auto;
  overflow: hidden;
  text-align: center;
  width: 552px;
}
/* line 321, ../sass/style.scss */
.container .about-us .image div {
  float: left;
  width: 120px;
  margin: auto 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px #ddd solid;
  padding: 6px;
}
/* line 328, ../sass/style.scss */
.container .about-us .image div img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 333, ../sass/style.scss */
.container .about-us .image div:first-child, .container .about-us .image div:last-child {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 339, ../sass/style.scss */
.container .find-an-agent {
  padding: 110px 0;
  overflow: hidden;
  background: url("../images/08.jpg");
  background-size: cover;
  text-align: center;
}
/* line 345, ../sass/style.scss */
.container .find-an-agent span {
  font-size: 2.4em;
  margin-right: 30px;
  color: white;
}
/* line 350, ../sass/style.scss */
.container .find-an-agent input {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 30px;
  background-color: white;
  border: none;
  padding: 0px;
  width: 50%;
  height: 60px;
  font-size: 1.5em;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input:-moz-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input::-moz-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input:-ms-input-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input::-webkit-input-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 353, ../sass/style.scss */
.container .find-an-agent button {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(89, 217, 155, 0.9);
  height: 60px;
  font-size: 1.5em;
  border: none;
  padding: 0 30px;
  color: white;
}
/* line 358, ../sass/style.scss */
.container footer ul {
  margin: 25px 12%;
}
/* line 360, ../sass/style.scss */
.container footer ul li {
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  line-height: 26px;
  margin-right: 25px;
  color: #b1b4b9;
}
/* line 371, ../sass/style.scss */
.container footer ul li i {
  line-height: 22px;
}
/* line 373, ../sass/style.scss */
.container footer ul li i.fa-twitter {
  color: #3a7aaf;
}
/* line 376, ../sass/style.scss */
.container footer ul li i.fa-facebook {
  color: #3d5ea8;
}
/* line 380, ../sass/style.scss */
.container footer ul li:nth-child(n+7) {
  float: right;
}
