/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/style.scss */
body {
  font-family: sans-serif;
  font-size: 62.5%;
}
/* line 15, ../sass/style.scss */
body h1 {
  font-size: 3em;
}
/* line 18, ../sass/style.scss */
body h2 {
  font-size: 2em;
}
/* line 21, ../sass/style.scss */
body h3 {
  font-size: 1.8em;
}

/* line 26, ../sass/style.scss */
.container {
  width: 100%;
}
/* line 28, ../sass/style.scss */
.container header {
  background-size: 1000px 840px;
  background: url("../images/01.jpg") no-repeat;
  height: 920px;
  margin: 0px auto 0px auto;
}
/* line 35, ../sass/style.scss */
.container header .navigator {
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 180px;
  font-size: 1.5em;
}
/* line 41, ../sass/style.scss */
.container header .navigator li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  color: white;
}
/* line 46, ../sass/style.scss */
.container header .navigator li:last-child {
  border: 1px white solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 52, ../sass/style.scss */
.container .search {
  display: inline-block;
  margin-top: 300px;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
/* line 58, ../sass/style.scss */
.container .search h1 {
  color: white;
}
/* line 61, ../sass/style.scss */
.container .search h3 {
  margin-top: 10px;
  color: #b1b4b9;
}
/* line 67, ../sass/style.scss */
.container .search form input {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 30px;
  background-color: rgba(137, 139, 151, 0.3);
  border: 0px;
  width: 36%;
  padding: 25px 20px;
  font-size: 2em;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input:-moz-placeholder {
  color: white;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input::-moz-placeholder {
  color: white;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input:-ms-input-placeholder {
  color: white;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .search form input::-webkit-input-placeholder {
  color: white;
}
/* line 80, ../sass/style.scss */
.container .search form button {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(89, 217, 155, 0.9);
  padding: 25px 30px;
  font-size: 2em;
  border: none;
  color: white;
}
/* line 92, ../sass/style.scss */
.container .form {
  background-color: white;
  width: 75%;
  height: 150px;
  margin: 300px auto 0px auto;
  box-sizing: border-box;
}
/* line 98, ../sass/style.scss */
.container .form li {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: 1px #ddd solid;
}
/* line 106, ../sass/style.scss */
.container .form li p {
  font-size: 1.5em;
  margin-top: 18px;
  color: #b1b4b9;
}
/* line 114, ../sass/style.scss */
.container .how-it-works {
  margin-top: 140px;
  text-align: center;
  border-bottom: 1px #ddd solid;
}
/* line 118, ../sass/style.scss */
.container .how-it-works .title {
  color: #5a5f6f;
  position: relative;
}
/* line 122, ../sass/style.scss */
.container .how-it-works .title::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  width: 46px;
  height: 3px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 132, ../sass/style.scss */
.container .how-it-works ul {
  display: -webkit-box;
}
/* line 134, ../sass/style.scss */
.container .how-it-works ul li {
  width: 33.33%;
  float: left;
  margin-top: 60px;
  position: relative;
}
/* line 139, ../sass/style.scss */
.container .how-it-works ul li .number {
  border: 2px #ddd solid;
  height: 60px;
  width: 60px;
  margin: auto;
  text-align: center;
  line-height: 60px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: #b1b4b9;
  background-color: white;
}
/* line 150, ../sass/style.scss */
.container .how-it-works ul li .number::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 50%;
  width: 100%;
  height: 2px;
  background: #ddd;
  z-index: -1;
}
/* line 160, ../sass/style.scss */
.container .how-it-works ul li .first::before {
  display: none;
}
/* line 163, ../sass/style.scss */
.container .how-it-works ul li .description {
  margin-top: 30px;
}
/* line 165, ../sass/style.scss */
.container .how-it-works ul li .description i {
  margin-bottom: 30px;
}
/* line 168, ../sass/style.scss */
.container .how-it-works ul li .description .fa-github-alt {
  color: #e69949;
}
/* line 171, ../sass/style.scss */
.container .how-it-works ul li .description .fa-eraser {
  color: #9c89c9;
}
/* line 174, ../sass/style.scss */
.container .how-it-works ul li .description .fa-users {
  color: #4085bf;
}
/* line 177, ../sass/style.scss */
.container .how-it-works ul li .description h2 {
  color: #5a5f6f;
}
/* line 180, ../sass/style.scss */
.container .how-it-works ul li .description :last-child {
  font-size: 1.5em;
  line-height: 20px;
  margin: 10px auto 120px auto;
  color: #b1b4b9;
  width: 250px;
}
/* line 191, ../sass/style.scss */
.container .why-choose-us {
  margin-top: 90px;
  border-bottom: 1px #ddd solid;
  overflow: hidden;
}
/* line 195, ../sass/style.scss */
.container .why-choose-us .title {
  text-align: center;
  color: #5a5f6f;
  position: relative;
}
/* line 200, ../sass/style.scss */
.container .why-choose-us .title::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  width: 46px;
  height: 3px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 210, ../sass/style.scss */
.container .why-choose-us ul {
  margin: 80px 5% 140px 5%;
}
/* line 212, ../sass/style.scss */
.container .why-choose-us ul li {
  position: relative;
  width: 50%;
  float: left;
  height: 190px;
}
/* line 217, ../sass/style.scss */
.container .why-choose-us ul li i {
  position: absolute;
  margin-left: 10%;
}
/* line 221, ../sass/style.scss */
.container .why-choose-us ul li div {
  text-align: left;
  margin: 0  10% 0 20%;
  color: #5a5f6f;
}
/* line 225, ../sass/style.scss */
.container .why-choose-us ul li div p {
  margin-top: 20px;
  line-height: 20px;
  color: #b1b4b9;
  font-size: 1.5em;
}
/* line 235, ../sass/style.scss */
.container .why-choose-us .fa-check {
  color: #57b381;
}
/* line 238, ../sass/style.scss */
.container .why-choose-us .fa-refresh {
  color: #e69949;
}
/* line 241, ../sass/style.scss */
.container .why-choose-us .fa-file-text {
  color: #ec546b;
}
/* line 244, ../sass/style.scss */
.container .why-choose-us .fa-tag {
  color: #15a4e4;
}
/* line 247, ../sass/style.scss */
.container .why-choose-us .fa-user {
  color: #9e62b7;
}
/* line 250, ../sass/style.scss */
.container .why-choose-us .fa-thumbs-up {
  color: #e66949;
}
/* line 255, ../sass/style.scss */
.container .about-us {
  text-align: center;
  border-bottom: 1px #ddd solid;
}
/* line 258, ../sass/style.scss */
.container .about-us img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 5px;
  border: 1px #ddd solid;
}
/* line 265, ../sass/style.scss */
.container .about-us .title {
  margin: 100px auto 0 auto;
  width: 410px;
  overflow: hidden;
  position: relative;
}
/* line 270, ../sass/style.scss */
.container .about-us .title h2 {
  width: 200px;
  float: left;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
/* line 277, ../sass/style.scss */
.container .about-us .title h2:first-child {
  background-color: #4e5367;
  border: 1px #4e5367 solid;
  color: white;
}
/* line 282, ../sass/style.scss */
.container .about-us .title h2:last-child {
  color: #4e5367;
  border: 1px #4e5367 solid;
}
/* line 287, ../sass/style.scss */
.container .about-us .description {
  width: 100%;
  margin-top: 40px;
}
/* line 290, ../sass/style.scss */
.container .about-us .description .fa-quote-left {
  margin-bottom: 30px;
  color: rgba(219, 219, 219, 0.5);
}
/* line 294, ../sass/style.scss */
.container .about-us .description p {
  color: #4e5367;
  font-size: 1.5em;
  margin-bottom: 50px;
  position: relative;
  padding: 0 20%;
  line-height: 20px;
}
/* line 302, ../sass/style.scss */
.container .about-us .description p::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  width: 42px;
  height: 2px;
  background-color: rgba(39, 39, 43, 0.1);
  margin: 0 0 0 -23px;
}
/* line 312, ../sass/style.scss */
.container .about-us .description .name {
  color: #4e5367;
}
/* line 315, ../sass/style.scss */
.container .about-us .description .intro {
  margin: 10px auto 40px auto;
  color: #b1b4b9;
}
/* line 320, ../sass/style.scss */
.container .about-us .image {
  margin-top: 0px;
  margin-bottom: 120px;
}
/* line 323, ../sass/style.scss */
.container .about-us .image img {
  margin: auto 25px;
}
/* line 326, ../sass/style.scss */
.container .about-us .image img:first-child, .container .about-us .image img:last-child {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 331, ../sass/style.scss */
.container .find-an-agent {
  padding: 110px 0;
  overflow: hidden;
  background: url("../images/08.jpg");
  text-align: center;
}
/* line 336, ../sass/style.scss */
.container .find-an-agent span {
  font-size: 2em;
  margin-right: 30px;
  color: white;
}
/* line 341, ../sass/style.scss */
.container .find-an-agent input {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
  width: 50%;
  height: 60px;
  font-size: 1.5em;
  border: none;
  padding: 0px;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input:-moz-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input::-moz-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input:-ms-input-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.container .find-an-agent input::-webkit-input-placeholder {
  padding-left: 15px;
  color: #b1b4b9;
}
/* line 355, ../sass/style.scss */
.container .find-an-agent button {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(89, 217, 155, 0.9);
  font-size: 1.5em;
  color: white;
  height: 60px;
  border: none;
  padding: 0px 35px;
}
/* line 366, ../sass/style.scss */
.container footer {
  height: 75px;
}
/* line 368, ../sass/style.scss */
.container footer ul {
  display: block;
  float: left;
}
/* line 371, ../sass/style.scss */
.container footer ul li {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 25px;
  color: #b1b4b9;
}
/* line 378, ../sass/style.scss */
.container footer ul:first-child {
  margin: 30px 0px 30px 170px;
}
/* line 381, ../sass/style.scss */
.container footer ul:last-child {
  float: right;
  margin: 30px 170px 30px 0px;
}
/* line 385, ../sass/style.scss */
.container footer i {
  float: right;
  margin-right: 20px;
}
/* line 389, ../sass/style.scss */
.container footer .fa-twitter {
  color: #3a7aaf;
}
/* line 392, ../sass/style.scss */
.container footer .fa-facebook {
  color: #3d5ea8;
}
